
body {
	    background-color: #06213F;
}
#topbar {position:absolute; left:70%;  font-size:12px;}
#topbar li { display:inline; margin-right:3px; padding-right:5px; border-right:1px solid;  text-align:right;}
#topbar a {color:black;}

.faico{margin:0; padding:0; list-style:none;}
.faico li{display:inline-block; margin:0 2px 0 0; padding:0; line-height:normal;}
.faico li:last-child{margin-right:0;}

.faico a{display:block; width:40px; height:40px; line-height:40px; font-size:20px; text-align:center;}

.faico a{color:#FFFFFF;}
.faico a:hover{color:#FFFFFF; background-color:#CCCCCC;}

.faicon-facebook{background-color:#3B5998;}
.faicon-flickr{background-color:#FF0084;}
.faicon-linkedin{background-color:#0E76A8;}
.faicon-rss{background-color:#EE802F;}
.faicon-twitter{background-color:#00ACEE;}


.sectioning {
	background-color: white;
	padding-top:50px;
}

@media screen and (max-width: 900px)
{
	#topbar {position:relative; font-size:12px;}
    #topbar li { display:inline; margin-right:3px; padding-right:5px; border-right:1px solid; color:white;}
}
